<% @page_title = 'Home Page' %>
<h1> Welcome to my Simple CMS site </h1>
<%= link_to('View Subjects', subjects_path) %> <br/>
<%= link_to('View Pages', pages_path) %> <br />
<%= link_to('View Sections', sections_path) %>
